body {
    margin: 0;
}

main { 
    margin-left: 300px;
}

header {
    background-color: red;
    font-size: 36px;
    top: 0;
    padding: 0.2em;
    text-align: center;
    margin: 0;
    font-weight: bold;
}

nav#menuItems {
    background-color: black;
    justify-content: center;
    position: fixed;
    left: 0;
    height: 100%;
    width: 300px;
    top: 0;
}

h1 {
    text-align: center;
    font-size: 42px;
}

button {
    background-color: blue;
    color: white;
    font-size: 20px;
    width:100%;
    height: 50px;
}

button:hover {
    background-color: orange;
}

#jumpMenu {
    display: none;
    padding: 0;
    margin: 0;
    background-color: orange;
    left: 0;
}

#jumpMenu a {
    text-decoration: none;
}

#jumpMenu li {
    padding: 0.25em;
    font-size: 18px;
}

#jumpMenu li:hover {
    color: white;
    background-color: blue;
}

#jumpMenu:hover {
    display: block;
}

#recentArticles:hover ~ #jumpMenu {
    display: block;
}


a[href="http://www.google.com"] {
    background-image: url("arrow.png");
    background-repeat: no-repeat;
    display: flex;
    width: 40%;
    background-position: right;
}


div#container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    padding: 1em;
}

article {
    width: 300px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    padding: 1%;
    transition: color 2s, width 2s, height 2s, font-size 2s;
}

article:hover {
    color: black;
    width: 400px;
    font-size: 24px;
}


article h2 {
    text-align: left;
}

article p::first-letter {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}

ul a:hover {
    color: white
}

li {
    list-style-type: none;
    text-align: center;
}

p#thanks {
    background-color: lightskyblue;
    border: 2px black solid;
    position: fixed;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    right:0;
    bottom: 0;
    margin: 0;
    font-size: 32px;
}