body {
    font-family: Arial, Helvetica, sans-serif;
    flex: auto;
    background-color: beige;
}

section#summary {
    background-color: lightblue;
    padding: 1em;
    border-radius: 10px;
}

section article {
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    margin-top: 1em;
    border-width: 5px;
    border: 1px solid black;
    width: device-width;
}