body {
    font-family: Arial, Helvetica, sans-serif;
    flex: auto;
    background-color: beige;
}

section.container {
    column-count: 2;
    flex: auto;
}

section.container h1 {
    text-align: center;
}

.container .row {
    padding: 1vw;
}

section#summary {
    background-color: lightblue;
    padding: 1em;
    border-radius: 10px;
}

section article {
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    margin-top: 1em;
    border-width: 5px;
    border: 1px solid black;
    width: device-width;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 900px) {
  section.container {
    column-count: 1;
  }
}