h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 5em;
}

h2 {
    font-size: 2em;
}

p.blue {
    background-color: darkblue;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    padding: 1em;
}

p#paragraph2 {
    border-style: solid;
    line-height: 2em;
    width: 45%;
    padding: 2em;
    border-width: 0.25em;
    border-color: green;
    background-color: white ;
}

li {
    list-style: decimal-leading-zero;
}

table {
    border-style: solid;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}

th {
    background-color: lightgray;
}

td {
    padding: 0.5em;
}

a[target="_blank"] {
    color: darkred
}

body {
    background-color: lightblue;
}